.grid-contenedor .encabezado .acceso, .grid-contenedor .principal .panoramica-club, .grid-contenedor .principal .panoramica-club h2, .grid-contenedor .principal .marcas .logos-marcas a, .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol, .grid-contenedor .main-futbol .reserva-online .foto-vertical-futbol, .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol, .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .recuperar-contrasenia, .pie .derechos, .pie .links-redes {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid-contenedor .principal .galeria-grid .imagen-uno img, .grid-contenedor .principal .galeria-grid .imagen-dos img, .grid-contenedor .principal .galeria-grid .imagen-tres img, .grid-contenedor .principal .galeria-grid .imagen-cuatro img, .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol, .grid-contenedor .main-futbol .reserva-online .foto-vertical-futbol, .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol {
  width: 100%;
  height: 100%; }

* {
  margin: 0;
  padding: 0; }

.grid-contenedor {
  width: 100%;
  /*ancho*/
  margin: 0 auto;
  /*el cero significa que no tiene margen de arriba y abajo, y el auto significa que al tener 80% de ancho me centra el contenido*/
  position: relative;
  min-height: 100vh;
  font-size: 0.9rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 150px;
  grid-template-areas: "header" "main" "footer"; }

.divisor {
  background-color: #00314f;
  width: 100%;
  height: 80px;
  margin: 3.5% 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .divisor .divisor-texto {
    color: white;
    font-size: 1.3rem;
    margin: 0; }

.boton-galeria-img a {
  width: 100%;
  height: 8vh;
  text-decoration: none;
  font-size: 1.1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #ffffff;
  position: absolute;
  top: 85%;
  left: 0%;
  background-color: #000000a0;
  display: flex;
  align-items: center;
  justify-content: center; }

.form {
  display: flex;
  justify-content: center;
  align-items: baseline; }

.grid-contenedor .encabezado .acceso, .grid-contenedor .principal .panoramica-club, .grid-contenedor .principal .panoramica-club h2, .grid-contenedor .principal .marcas .logos-marcas a, .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol, .grid-contenedor .main-futbol .reserva-online .foto-vertical-futbol, .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol, .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .recuperar-contrasenia, .pie .derechos, .pie .links-redes {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid-contenedor .principal .galeria-grid .imagen-uno img, .grid-contenedor .principal .galeria-grid .imagen-dos img, .grid-contenedor .principal .galeria-grid .imagen-tres img, .grid-contenedor .principal .galeria-grid .imagen-cuatro img, .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol, .grid-contenedor .main-futbol .reserva-online .foto-vertical-futbol, .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol {
  width: 100%;
  height: 100%; }

.grid-contenedor .encabezado {
  background-color: #ffffff;
  grid-area: header;
  width: 100%;
  display: grid;
  grid-template-columns: 1.8fr 5fr 1.2fr;
  grid-template-areas: "logo menu acceso";
  position: fixed;
  top: 0%;
  z-index: 1; }
  .grid-contenedor .encabezado .logo {
    background-color: #ffffff;
    grid-area: logo;
    height: 80px;
    margin: 10px 0 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .grid-contenedor .encabezado .logo .titulo-header {
      color: #000000;
      font-size: 1.4rem;
      margin: 0; }
  .grid-contenedor .encabezado .menu-nav {
    background-color: #00314f;
    grid-area: menu;
    margin: 10px 8px 10px 0;
    padding-right: 10px;
    height: 80px;
    width: 100%;
    clip-path: polygon(5% 0, 101% 0, 101% 100%, 0% 140%);
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .grid-contenedor .encabezado .menu-nav .ul-lista-nav {
      list-style: none;
      padding-left: 25px;
      margin: 0;
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .grid-contenedor .encabezado .menu-nav .ul-lista-nav .li-lista-nav {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .grid-contenedor .encabezado .menu-nav .ul-lista-nav .li-lista-nav .a-lista-nav {
          width: auto;
          padding: 5px;
          color: #ffffff;
          text-decoration: none;
          text-align: center;
          font-size: 1rem;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
          transition-property: background-color;
          transition-duration: 1s; }
          .grid-contenedor .encabezado .menu-nav .ul-lista-nav .li-lista-nav .a-lista-nav:hover {
            background-color: #ffffff;
            color: #000000; }
    .grid-contenedor .encabezado .menu-nav .buscador {
      position: relative;
      padding: 5px;
      width: 20%; }
  .grid-contenedor .encabezado .acceso {
    background-color: #000000;
    grid-area: acceso;
    height: 80px;
    margin: 10px 0 10px 0;
    text-align: center; }
    .grid-contenedor .encabezado .acceso .link-acceso-registro {
      text-decoration: none;
      font-size: 1rem;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      padding: 5px;
      margin: 0 10px;
      color: #ffffff;
      transition-property: background-color;
      transition-duration: 1s; }
      .grid-contenedor .encabezado .acceso .link-acceso-registro:hover {
        background-color: #ffffff;
        color: #000000; }

.grid-contenedor .encabezado .acceso, .grid-contenedor .principal .panoramica-club, .grid-contenedor .principal .panoramica-club h2, .grid-contenedor .principal .marcas .logos-marcas a, .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol, .grid-contenedor .main-futbol .reserva-online .foto-vertical-futbol, .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol, .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .recuperar-contrasenia, .pie .derechos, .pie .links-redes {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid-contenedor .principal .galeria-grid .imagen-uno img, .grid-contenedor .principal .galeria-grid .imagen-dos img, .grid-contenedor .principal .galeria-grid .imagen-tres img, .grid-contenedor .principal .galeria-grid .imagen-cuatro img, .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol, .grid-contenedor .main-futbol .reserva-online .foto-vertical-futbol, .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol {
  width: 100%;
  height: 100%; }

/*----------MAIN INICIO----------*/
.grid-contenedor .principal {
  background-color: #ffffff;
  grid-area: main;
  min-height: 450vh; }
  .grid-contenedor .principal .panoramica-club {
    background-image: url(../img/panoramicaDrone.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 20%;
    background-position: bottom; }
    .grid-contenedor .principal .panoramica-club h2 {
      width: 30%;
      height: 20%;
      text-align: center;
      background-color: #00314fda;
      color: #ffffff;
      font-size: 1.3rem;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }
  .grid-contenedor .principal .galeria-grid {
    width: calc(100% - 40px);
    height: 850px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 400px;
    gap: 25px;
    padding: 20px; }
    .grid-contenedor .principal .galeria-grid .imagen-uno {
      grid-column: span 8;
      position: relative; }
      .grid-contenedor .principal .galeria-grid .imagen-uno img {
        object-fit: cover; }
    .grid-contenedor .principal .galeria-grid .imagen-dos {
      grid-column: span 4;
      position: relative; }
      .grid-contenedor .principal .galeria-grid .imagen-dos img {
        object-fit: cover; }
    .grid-contenedor .principal .galeria-grid .imagen-tres {
      grid-column: span 6;
      position: relative; }
      .grid-contenedor .principal .galeria-grid .imagen-tres img {
        object-fit: cover; }
    .grid-contenedor .principal .galeria-grid .imagen-cuatro {
      grid-column: span 6;
      position: relative; }
      .grid-contenedor .principal .galeria-grid .imagen-cuatro img {
        object-fit: cover; }
  .grid-contenedor .principal .marcas {
    background-color: #00314fdf;
    width: 100%;
    height: 26vh;
    margin-top: 2%; }
    .grid-contenedor .principal .marcas .titulo-marcas {
      font-size: 1.2rem;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      color: #000000;
      text-align: center;
      padding-top: 1%; }
    .grid-contenedor .principal .marcas .logos-marcas {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 25px 100px 0 100px; }
      .grid-contenedor .principal .marcas .logos-marcas a img {
        transition-property: width;
        transition-delay: 2s; }
        .grid-contenedor .principal .marcas .logos-marcas a img:hover {
          width: 95%; }
  .grid-contenedor .principal .novedades {
    width: auto;
    margin: 0 75px; }
    .grid-contenedor .principal .novedades .noticia-uno {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #00314f4e; }
      .grid-contenedor .principal .novedades .noticia-uno .texto-noticia {
        margin: 0 60px; }
    .grid-contenedor .principal .novedades .noticia-dos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
      background-color: #00314f4e; }
      .grid-contenedor .principal .novedades .noticia-dos .texto-noticia {
        margin: 0 60px; }

/*----------MAIN FUTBOL----------*/
.grid-contenedor .main-futbol {
  grid-area: main; }
  .grid-contenedor .main-futbol .carrusel-futbol {
    margin-bottom: 2%; }
  .grid-contenedor .main-futbol .reserva-online {
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "reserva reserva foto" "datos datos foto";
    justify-items: center;
    align-items: center;
    gap: 1%; }
    .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol {
      grid-area: reserva;
      background-color: #00314fc3;
      flex-direction: column; }
      .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .titulo-res-fut {
        height: 15%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        font-size: 1.1rem;
        margin: 2%; }
      .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .calendario-reserva-futbol {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center; }
        .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .calendario-reserva-futbol div .label-reserva-futbol {
          font-size: 1rem; }
        .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .calendario-reserva-futbol .select-hora-res {
          display: none; }
      .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .botones-horas {
        margin-top: 3%;
        width: 100%;
        display: flex;
        justify-content: center; }
        .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .botones-horas .boton-hora {
          width: 6vw;
          height: 5vh;
          margin: 0 1%;
          border-radius: 10px;
          border-color: #ffffff; }
          .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .botones-horas .boton-hora:active {
            background-color: #00cf00;
            color: #ffffff; }
      .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .referencias {
        margin-top: 8%;
        display: flex;
        flex-direction: column;
        text-align: center; }
        .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .referencias .referencia {
          font-size: 0.9rem;
          margin: 0; }
        .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .referencias .referencia-dos {
          font-size: 0.8rem;
          margin: 0; }
    .grid-contenedor .main-futbol .reserva-online .foto-vertical-futbol {
      grid-area: foto; }
      .grid-contenedor .main-futbol .reserva-online .foto-vertical-futbol .imagen-futbol {
        width: 90%;
        height: 100%; }
    .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol {
      grid-area: datos;
      background-color: #00314fc3;
      flex-direction: column; }
      .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol .formulario-reserva {
        width: 55%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column; }
        .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol .formulario-reserva .form-reserva-uno .label-reserva-futbol {
          font-size: 1rem; }
        .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol .formulario-reserva .form-reserva {
          width: 100%;
          display: flex;
          justify-content: space-evenly; }
          .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol .formulario-reserva .form-reserva .reservar:hover {
            background-color: #008000; }
          .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol .formulario-reserva .form-reserva .borrar-reserva:hover {
            background-color: #808080; }

/*----------MAIN EVENTOS----------*/
.grid-contenedor .main-eventos {
  height: auto;
  width: 100%;
  grid-area: main; }
  .grid-contenedor .main-eventos .form-contacto-eventos {
    margin: 3% 15% 0;
    background-color: #263138a3;
    padding: 2%;
    box-shadow: 10px 10px 20px #000000; }

/*----------MAIN ACCESO-REGISTRO----------*/
.grid-contenedor .main-acceso-registro {
  grid-area: main;
  height: 120vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-image: url(../img/_DSC1074.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .grid-contenedor .main-acceso-registro .iniciar-sesion {
    display: flex;
    flex-direction: column;
    background-color: #959595e5;
    color: #ffffff;
    width: 50%;
    height: 35%;
    border: solid 1px #000000;
    justify-content: center; }
    .grid-contenedor .main-acceso-registro .iniciar-sesion .form-iniciar-sesion {
      display: flex;
      justify-content: center;
      align-items: baseline; }
    .grid-contenedor .main-acceso-registro .iniciar-sesion .link-interno-registro {
      text-align: center;
      margin: 1% 0; }
    .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario {
      height: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form {
        height: 100%; }
        .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .div-formulario-isesion {
          width: 70%;
          height: 50%;
          display: flex;
          justify-content: space-evenly;
          align-items: flex-end;
          flex-direction: column;
          margin: 0; }
          .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .div-formulario-isesion .labels-isesion .color-texto-registro {
            color: #000000; }
        .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .form .boton-verde {
          margin-right: 5%;
          padding: 0.5% 1.5%; }
          .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .form .boton-verde:hover {
            background-color: #008000; }
        .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .recuperar-contrasenia {
          margin: 1%; }
  .grid-contenedor .main-acceso-registro .registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #001421ed;
    color: #ffffff;
    width: 50%;
    height: 50%;
    border: solid 1px #000000; }
    .grid-contenedor .main-acceso-registro .registro .form-titulo-registro {
      margin: 15px;
      text-align: center; }
    .grid-contenedor .main-acceso-registro .registro .formulario-registro {
      height: 85%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      .grid-contenedor .main-acceso-registro .registro .formulario-registro .div-formulario-registro {
        width: 70%;
        height: 55%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column; }
        .grid-contenedor .main-acceso-registro .registro .formulario-registro .div-formulario-registro .form .boton-borrar {
          padding: 0.5% 1.5%; }
          .grid-contenedor .main-acceso-registro .registro .formulario-registro .div-formulario-registro .form .boton-borrar:hover {
            background-color: #808080; }
      .grid-contenedor .main-acceso-registro .registro .formulario-registro .form-radio {
        display: flex;
        justify-content: center; }
      .grid-contenedor .main-acceso-registro .registro .formulario-registro .botones-registro {
        margin: 0 2% 0 2%; }

/*----------MAIN EL CLUB----------*/
.grid-contenedor .main-elclub {
  grid-area: main;
  min-height: 220vh; }
  .grid-contenedor .main-elclub .novedades {
    width: auto;
    margin: 0 75px; }
    .grid-contenedor .main-elclub .novedades .noticia-uno {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #00314f4e; }
      .grid-contenedor .main-elclub .novedades .noticia-uno .texto-noticia {
        margin: 0 60px; }
    .grid-contenedor .main-elclub .novedades .noticia-dos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 30px;
      background-color: #00314f4e; }
      .grid-contenedor .main-elclub .novedades .noticia-dos .texto-noticia {
        margin: 0 60px; }
  .grid-contenedor .main-elclub .elclub-h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 2%; }
  .grid-contenedor .main-elclub .section-icons {
    margin: 2% 0;
    height: 30vh;
    background-color: #00314fdf;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .grid-contenedor .main-elclub .section-icons .cont-icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .grid-contenedor .main-elclub .section-icons .cont-icons img {
        padding-bottom: 4%; }
  .grid-contenedor .main-elclub .elclub-cards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .grid-contenedor .main-elclub .elclub-cards .elclub-card {
      width: 28%;
      height: 90vh;
      background-color: #00314f;
      color: #ffffff;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .grid-contenedor .main-elclub .elclub-cards .elclub-card img {
        height: 70%; }
      .grid-contenedor .main-elclub .elclub-cards .elclub-card h2 {
        height: 12%;
        width: 95%;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center; }
      .grid-contenedor .main-elclub .elclub-cards .elclub-card p {
        height: 8%;
        width: 85%;
        font-size: 0.8rem; }
        .grid-contenedor .main-elclub .elclub-cards .elclub-card p a {
          color: gray; }

.grid-contenedor .encabezado .acceso, .grid-contenedor .principal .panoramica-club, .grid-contenedor .principal .panoramica-club h2, .grid-contenedor .principal .marcas .logos-marcas a, .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol, .grid-contenedor .main-futbol .reserva-online .foto-vertical-futbol, .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol, .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .recuperar-contrasenia, .pie .derechos, .pie .links-redes {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid-contenedor .principal .galeria-grid .imagen-uno img, .grid-contenedor .principal .galeria-grid .imagen-dos img, .grid-contenedor .principal .galeria-grid .imagen-tres img, .grid-contenedor .principal .galeria-grid .imagen-cuatro img, .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol, .grid-contenedor .main-futbol .reserva-online .foto-vertical-futbol, .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol {
  width: 100%;
  height: 100%; }

.pie {
  background-color: #00314f;
  color: #a9a9a9;
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "derechos redes" "derechos logosredes";
  margin-top: 1%;
  width: 100%; }
  .pie .derechos {
    grid-area: derechos; }
    .pie .derechos .derechos-h5 {
      margin: 0;
      font-size: 0.7rem; }
  .pie .links-redes {
    grid-area: redes;
    padding-top: 5px; }
    .pie .links-redes .links-redes-h4 {
      font-size: 0.9rem; }
  .pie .logos-redes {
    grid-area: logosredes;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px 10px 110px; }

.grid-contenedor .encabezado .acceso, .grid-contenedor .principal .panoramica-club, .grid-contenedor .principal .panoramica-club h2, .grid-contenedor .principal .marcas .logos-marcas a, .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol, .grid-contenedor .main-futbol .reserva-online .foto-vertical-futbol, .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol, .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .recuperar-contrasenia, .pie .derechos, .pie .links-redes {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid-contenedor .principal .galeria-grid .imagen-uno img, .grid-contenedor .principal .galeria-grid .imagen-dos img, .grid-contenedor .principal .galeria-grid .imagen-tres img, .grid-contenedor .principal .galeria-grid .imagen-cuatro img, .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol, .grid-contenedor .main-futbol .reserva-online .foto-vertical-futbol, .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol {
  width: 100%;
  height: 100%; }

@media screen and (max-width: 1200px) {
  .grid-contenedor .encabezado .logo .titulo-header {
    font-size: 1.3rem; }
  .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol .formulario-reserva {
    width: 60%;
    margin-right: 15%; } }

@media screen and (max-width: 1050px) {
  .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .div-formulario-isecion {
    width: 73%; }
  .grid-contenedor .main-acceso-registro .registro .formulario-registro .div-formulario-registro {
    width: 73%; } }

@media screen and (max-width: 975px) {
  .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol .formulario-reserva {
    width: 70%;
    margin-right: 10%; } }

@media screen and (max-width: 950px) {
  .grid-contenedor .encabezado {
    width: 100%;
    grid-template-columns: 8fr 2fr;
    grid-template-rows: 60px 40px;
    grid-template-areas: "logo logo" "menu acceso"; }
  .grid-contenedor .principal {
    min-height: 535vh; }
  .grid-contenedor .principal .panoramica-club h2 {
    font-size: 1.2rem; }
  .grid-contenedor .principal .novedades {
    width: 500px;
    margin: 0 auto; }
  .grid-contenedor .principal .novedades .noticia-uno {
    flex-direction: column;
    width: 500px; }
  .grid-contenedor .principal .novedades .noticia-uno .texto-noticia .p-noticia {
    text-align: justify;
    margin: 10px 0;
    font-size: 0.7rem; }
  .grid-contenedor .principal .novedades .noticia-uno .texto-noticia .titulo-noticia {
    text-align: center;
    margin: 10px;
    font-size: 1rem; }
  .grid-contenedor .principal .novedades .noticia-dos {
    flex-direction: column;
    width: 500px; }
  .grid-contenedor .encabezado .logo .titulo-header {
    font-size: 30px; }
  .grid-contenedor .encabezado .menu-nav {
    height: 40px;
    margin: 0;
    clip-path: none;
    -webkit-clip-path: none; }
  .grid-contenedor .encabezado .menu-nav .buscador {
    height: 1.8vh; }
  .grid-contenedor .encabezado .acceso {
    height: 40px;
    margin: 0; }
  .grid-contenedor .encabezado .logo {
    height: 40px;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center; }
  .grid-contenedor .encabezado .logo a {
    display: flex;
    justify-content: center;
    align-items: center; }
  .grid-contenedor .encabezado .logo a .logo-img {
    width: 50%;
    height: 50%; }
  .grid-contenedor .principal .marcas {
    height: 22vh; }
  .grid-contenedor .principal .marcas .titulo-marcas {
    font-size: 1.1rem; }
  .grid-contenedor .principal .marcas .logos-marcas {
    margin: 15px 50px 0px 50px; }
  .grid-contenedor .principal .marcas .logos-marcas a {
    width: auto; }
  .grid-contenedor .principal .marcas .logos-marcas a img {
    width: 75%;
    height: 75%; }
  .divisor {
    height: 12vh;
    margin: 3% 0; }
  .divisor .divisor-texto {
    font-size: 1.1rem; }
  .pie .logos-redes {
    padding: 0 40px 10px; }
  .pie .logos-redes a {
    margin: 0 5px 5; }
  .pie .logos-redes a img {
    width: 95%;
    height: 95%; }
  .pie .derechos .derechos-h5 {
    padding-left: 10px; }
  .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol .formulario-reserva {
    width: 65%;
    height: 90%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end; }
  .grid-contenedor .main-acceso-registro {
    height: 155vh; }
  .grid-contenedor .main-acceso-registro .registro .formulario-registro .div-formulario-registro {
    height: 60%;
    display: flex;
    align-items: center; }
  .grid-contenedor .main-acceso-registro .registro .formulario-registro {
    display: flex;
    align-items: center; }
  .grid-contenedor .main-acceso-registro .registro .form-titulo-registro {
    margin: 2%; }
  .grid-contenedor .main-acceso-registro .registro .formulario-registro .form-radio {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: baseline; }
  .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .div-formulario-isecion .labels-isecion {
    display: flex;
    flex-direction: column; }
  .grid-contenedor .main-acceso-registro .registro .formulario-registro .div-formulario-registro .label-form {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 900px) {
  .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol .formulario-reserva {
    width: 75%; }
  .pie .derechos .derechos-h5 {
    font-size: 0.6rem; } }

@media screen and (max-width: 800px) {
  .grid-contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 136px auto 150px;
    grid-template-areas: "header" "main" "footer"; }
  .grid-contenedor .encabezado {
    display: inline-block; }
  .grid-contenedor .encabezado .logo .titulo-header {
    font-size: 25px; }
  .grid-contenedor .encabezado .menu-nav {
    height: 40px;
    margin: 0;
    padding: 0;
    clip-path: none; }
  .grid-contenedor .encabezado .menu-nav .ul-lista-nav {
    padding: 0; }
  .grid-contenedor .encabezado .menu-nav .ul-lista-nav .li-lista-nav {
    width: auto;
    margin: 0 15px; }
  .grid-contenedor .encabezado .menu-nav .ul-lista-nav .li-lista-nav .a-lista-nav {
    margin-top: 5px;
    font-size: 0.9rem; }
  .grid-contenedor .encabezado .acceso {
    height: 40px;
    margin: 0; }
  .grid-contenedor .encabezado .acceso .link-acceso-registro {
    font-size: 0.9rem; }
  .grid-contenedor .encabezado .logo {
    height: 40px;
    margin: 8px 0; }
  .grid-contenedor .principal {
    min-height: 530vh; }
  .grid-contenedor .principal .panoramica-club h2 {
    font-size: 1rem; }
  .grid-contenedor .principal .marcas .logos-marcas a img {
    width: 65%;
    height: 65%; }
  .grid-contenedor .principal .marcas .titulo-marcas {
    font-size: 1rem; }
  .divisor {
    height: 11vh;
    margin: 2.8% 0; }
  .divisor .divisor-texto {
    font-size: 1rem; }
  .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .botones-horas .boton-hora {
    font-size: 0.9rem; }
  .label-reserva-futbol {
    font-size: 0.9rem; }
  .pie .logos-redes a img {
    width: 90%;
    height: 90%; } }

@media screen and (max-width: 780px) {
  .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol .formulario-reserva {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
  .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol .formulario-reserva .form-reserva-uno {
    display: flex;
    flex-direction: column; }
  .pie .logos-redes {
    padding: 0 20px 10px; } }

@media screen and (max-width: 700px) {
  .grid-contenedor .encabezado .logo .titulo-header {
    font-size: 20px; }
  .grid-contenedor .encabezado .menu-nav .ul-lista-nav .li-lista-nav {
    width: auto;
    margin: 0 10px; }
  .grid-contenedor .encabezado .menu-nav .ul-lista-nav .link-bigg {
    padding: 0; }
  .grid-contenedor .principal {
    min-height: 520vh; }
  .grid-contenedor .principal .galeria-grid .img-galeria-grid .boton-galeria-img a {
    font-size: 0.9rem;
    height: 6vh; }
  .grid-contenedor .principal .marcas {
    height: 20vh; }
  .grid-contenedor .principal .marcas .titulo-marcas {
    font-size: 0.9rem; }
  .grid-contenedor .principal .marcas .logos-marcas a img {
    width: 60%;
    height: 60%; }
  .grid-contenedor .main-futbol .reserva-online {
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: ". reserva reserva reserva ." ". datos datos datos .";
    justify-items: center;
    align-items: center;
    gap: 3%; }
  .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .titulo-res-fut {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem; }
  .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .calendario-reserva-futbol {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end; }
  .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .calendario-reserva-futbol .select-hora-res {
    display: flex; }
  .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .botones-horas {
    display: none; }
  .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .referencias {
    margin-top: 3%; }
  .grid-contenedor .main-futbol .reserva-online .foto-vertical-futbol {
    display: none; }
  .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol {
    height: 42vh; }
  .divisor {
    height: 10vh;
    margin: 2.5% 0; }
  .pie {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .pie .logos-redes {
    padding: 0;
    width: 70%;
    height: 3vh;
    display: flex;
    justify-content: space-evenly; }
  .pie .logos-redes a img {
    width: 85%;
    height: 85%; } }

@media screen and (max-width: 650px) {
  .grid-contenedor {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 136px auto 120px;
    grid-template-areas: "header" "main" "footer";
    font-size: 0.8rem; }
  .grid-contenedor .principal {
    min-height: 555vh; }
  .grid-contenedor .principal .galeria-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220vh; }
  .grid-contenedor .principal .galeria-grid .img-galeria-grid {
    width: 80%;
    height: 65%; }
  .grid-contenedor .principal .galeria-grid .imagen-uno {
    display: none; }
  .grid-contenedor .principal .novedades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .grid-contenedor .principal .novedades .noticia-uno {
    width: 90%; }
    .grid-contenedor .principal .novedades .noticia-uno img {
      width: 100%; }
  .grid-contenedor .principal .novedades .noticia-dos {
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse; }
    .grid-contenedor .principal .novedades .noticia-dos img {
      width: 100%; }
  .grid-contenedor .encabezado .menu-nav .buscador {
    display: none; }
  .grid-contenedor .encabezado .menu-nav .ul-lista-nav {
    width: 90%; }
  .grid-contenedor .principal .panoramica-club h2 {
    font-size: 0.9rem;
    height: 15%; }
  .grid-contenedor .principal .galeria-grid .img-galeria-grid .boton-galeria-img a {
    font-size: 0.8rem;
    top: 80%; }
  .grid-contenedor .principal .marcas {
    height: 20vh; }
  .grid-contenedor .principal .marcas .logos-marcas {
    margin: 10px 40px 0; }
  .divisor {
    height: 9vh;
    margin: 2.3% 0; }
  .divisor .divisor-texto {
    font-size: 0.9rem; }
  .grid-contenedor .main-futbol {
    min-height: 150vh; }
  .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .calendario-reserva-futbol {
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; }
  .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .calendario-reserva-futbol div {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .botones-horas .boton-hora {
    font-size: 0.8rem; }
  .grid-contenedor .main-acceso-registro .iniciar-sesion {
    width: 65%;
    height: 30%; }
  .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form {
    height: 100%; }
  .grid-contenedor .main-acceso-registro .registro {
    width: 65%;
    height: 55%; }
  .pie .derechos .derechos-h5 {
    font-size: 0.5rem; }
  .pie .links-redes .links-redes-h4 {
    font-size: 0.6rem; } }

@media screen and (max-width: 600px) {
  .grid-contenedor .main-futbol {
    min-height: 145vh; } }

@media screen and (max-width: 550px) {
  .grid-contenedor .encabezado .logo .titulo-header {
    font-size: 18px; }
  .grid-contenedor .encabezado .menu-nav .ul-lista-nav .li-lista-nav {
    width: auto;
    margin: 0 5px; }
  .grid-contenedor .encabezado .menu-nav .buscador {
    width: 90px; }
  .grid-contenedor .encabezado .menu-nav .ul-lista-nav .link-bigg {
    padding: 0; }
  .grid-contenedor .principal {
    min-height: 545vh; }
  .grid-contenedor .principal .panoramica-club h2 {
    font-size: 0.7rem; }
  .grid-contenedor .principal .marcas .logos-marcas {
    margin: 0 30px 0; }
  .grid-contenedor .principal .marcas .logos-marcas a img {
    width: 50%;
    height: 50%; }
  .grid-contenedor .principal .marcas {
    height: 16vh; }
  .grid-contenedor .principal .marcas .titulo-marcas {
    font-size: 0.8rem;
    margin-bottom: 5px; }
  .grid-contenedor .principal .galeria-grid .img-galeria-grid .boton-galeria-img a {
    font-size: 0.7rem;
    height: 4vh;
    top: 82%; }
  .divisor {
    height: 8vh;
    margin: 2% 0; }
  .divisor .divisor-texto {
    font-size: 0.7rem; }
  .grid-contenedor .main-futbol {
    min-height: 140vh; }
  .grid-contenedor .main-futbol .reserva-online .elegi-turno-futbol .calendario-reserva-futbol div .label-reserva-futbol {
    font-size: 0.8rem; }
  .grid-contenedor .main-futbol .reserva-online .datos-reserva-futbol .formulario-reserva .form-reserva-uno .label-reserva-futbol {
    font-size: 0.9rem; }
  .pie .logos-redes a img {
    width: 75%;
    height: 75%; } }

@media screen and (max-width: 490px) {
  .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .div-formulario-isecion {
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-evenly; }
  .grid-contenedor .main-futbol {
    min-height: 145vh; } }

@media screen and (max-width: 450px) {
  .grid-contenedor .encabezado .menu-nav .ul-lista-nav .li-lista-nav .a-lista-nav {
    font-size: 0.68rem; }
  .grid-contenedor .encabezado .acceso .link-acceso-registro {
    font-size: 0.68rem; } }

@media screen and (max-width: 400px) {
  .grid-contenedor .main-acceso-registro .iniciar-sesion .formulario form .div-formulario-isecion {
    width: 82%; }
  .grid-contenedor .main-futbol {
    min-height: 135vh; } }

@media screen and (max-width: 360px) {
  .grid-contenedor .main-futbol {
    min-height: 125vh; } }
