* {
    margin: 0;
    padding: 0;
}

.grid-contenedor {
    width: 100%; /*ancho*/
    margin: 0 auto; /*el cero significa que no tiene margen de arriba y abajo, y el auto significa que al tener 80% de ancho me centra el contenido*/;
    position: relative;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 150px;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}
/*----grid layout-----*/
.encabezado {
    background-color: #ffffff;
    grid-area: header;
    width: 100%;
    display: grid;
    grid-template-columns: 1.8fr 5fr 1.2fr;
    grid-template-areas:
    "logo menu acceso"
    ;
    position: fixed;
    top: 0%;
    z-index: 1;
}
.principal {
    background-color: rgb(255, 255, 255);
    grid-area: main;
}
/*-----grid nav------*/
.logo {
    background-color: rgb(255, 255, 255);
    grid-area: logo;
    height: 80px;
    margin: 10px 0 10px 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.titulo-header {
    color: black;
    font-size: 1.4rem;
    margin: 0;
}
.menu-nav {
    background-color: #00314f;
    grid-area: menu;
    margin: 10px 8px 10px 0;
    padding-right: 10px;
    height: 80px;
    width: 100%;
    clip-path: polygon(5% 0, 101% 0, 101% 100%, 0% 140%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu-nav .buscador {
    position: relative;
    padding: 5px;
    width: 20%;
}
.acceso {
    background-color: rgb(0, 0, 0);
    grid-area: acceso;
    height: 80px;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.link-acceso-registro {
    text-decoration: none;
    font-size: 1rem;
    padding: 5px;
    margin: 0 10px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
}
.link-acceso-registro:hover {
    background-color: white;
    color: black;   
}
.div {
    display: flex;
}
.ul-lista-nav {
    list-style: none;
    padding-left: 25px;
    margin: 0;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.li-lista-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.a-lista-nav {
    width: auto;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition-property: background-color;
    transition-duration: 1s;
}
.a-lista-nav:hover {
    background-color: white;
    color: black;   
}



/*------main------*/
.panoramica-club {
    background-image: url(../img/panoramica\ drone.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 92.27px);
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center
}
.panoramica-club h2 {
    width: 30%;
    height: 15vh;
    text-align: center;
    background-color: #00314fda;
    color: white;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center
}
.galeria-grid {
    width: calc(100% - 40px);
    height: 850px;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 400px;
    gap: 25px;
    padding: 20px;
}
.galeria-grid div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.boton-galeria-img a{
    width: 100%;
    height: 8vh;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 85%;
    left: 0%;
    background-color: rgba(0, 0, 0, 0.628);
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagen-uno {
    grid-column: span 8;
    position: relative;
}
.imagen-dos {
    grid-column: span 4;
    position: relative;
}
.imagen-tres {
    grid-column: span 6;
    position: relative;
}
.imagen-cuatro {
    grid-column: span 6;
    position: relative;
}
.divisor {
    background-color: #00314f;
    width: 100%;
    height: 80px;
    margin: 3.5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divisor-texto {
    color: white;
    font-size: 1.3rem;
    margin: 0;
}
.novedades {
    width: auto;
    margin: 0 75px;
}
.noticia-uno {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00314f4e;
}
.noticia-dos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    background-color: #00314f4e;
}
.texto-noticia {
    margin: 0 60px;
}
.marcas {
    background-color: #00314fdf;
    width: 100%;
    height: 32vh;
    margin-top: 15px;
}
.marcas h2 {
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
    padding-top: 15px;
}
.logos-marcas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 100px 0 100px;
}
.logos-marcas a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos-marcas a img {
    transition-property: width;
    transition-delay: 2s;
}
.logos-marcas a img:hover {
    width: 95%;
}
/*-------footer--------*/
.pie {
    background-color: #00314f;
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "derechos redes"
    "derechos logosredes"
    ;
    margin-top: 1%;
    width: 100%;
}
.derechos {
    grid-area: derechos;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(169, 169, 169);
}
.derechos-h5 {
    margin: 0;
    font-size: 0.9rem;
}
.links-redes {
    grid-area: redes;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    color: rgb(169, 169, 169);
}
.links-redes-h4 {
    font-size: 1rem;
}
.logos-redes {
    grid-area: logosredes;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 110px 10px 110px;
}

/*media queries*/

@media screen and (max-width:1200px) {
    .titulo-header {
        font-size: 1.3rem;
    }
}
@media screen and (max-width:950px){
    .encabezado {
        width: 100%;
        grid-template-columns: 8fr 2fr;
        grid-template-rows: 60px 40px;
        grid-template-areas:
        "logo logo"
        "menu acceso"
        ;
    }
    .p-noticia{
        font-size: 1.1rem;
    }
    .titulo-noticia {
        font-size: 1.5rem;
    }

    .logo h1 {
        font-size: 30px;
    }
    .menu-nav {
        height: 40px;
        margin: 0;
        clip-path: none;
        -webkit-clip-path: none;
    }
    .menu-nav .buscador {
        height: 1.8vh;
    }
    .acceso {
        height: 40px;
        margin: 0;
    }
    .logo {
        height: 40px;
        margin: 10px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo a {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo-img {
        width: 50%;
        height: 50%;
    }
    .marcas {
        height: 20vh;
    }
    .marcas h2 {
        font-size: 1.2rem;
        padding-top: 10px;
    }
    .logos-marcas {
        margin: 15px 50px 0px 50px;
    }
    .logos-marcas a {
        width: auto;
    }
    .logos-marcas a img{
        width: 80%;
        height: 80%;
    }
    .divisor {
        height: 12vh;
        margin: 3% 0;
    }
    .divisor-texto {
        font-size: 1.1rem;
    }
    .novedades {
        width: 500px;
        margin: 0 auto;
    }
    .noticia-uno {
        flex-direction: column;
        width: 500px;
    }
    .noticia-dos {
        flex-direction: column;
        width: 500px;
    }
    .titulo-noticia {
        text-align: center;
        margin: 10px;
        font-size: 1rem;
    }
    .p-noticia {
        text-align: justify;
        margin: 10px 0;
        font-size: 0.7rem;
    }
    .logos-redes {
        padding: 0 40px 10px;
    }
    .logos-redes a{
        margin: 0 5px 5;
    }
    .derechos-h5 {
        padding-left: 10px;
    }
    .label-form {
        display: flex;
        flex-direction: column;
    }
    .div-formulario-registro {
        display: flex;
        align-items: flex-start;
    }
    .registro {
        height: 90vh;
    }
}
@media screen and (max-width:800px) {
    .encabezado {
        display: inline-block;
    }
    .logo h1 {
        font-size: 25px;
    }
    .menu.nav {
        height: 40px;
        margin: 0;
        padding: 0;
        clip-path: none;
    }
    .a-lista-nav {
        margin-top: 5px;
        font-size: 0.9rem;
    }
    .ul-lista-nav {
        padding: 0;
    }
    .li-lista-nav {
        width: auto;
        margin: 0 15px;
    }
    .acceso {
        height: 40px;
        margin: 0;
    }
    .link-acceso-registro {
        font-size: 0.9rem;
    }
    .logo {
        height: 40px;
        margin: 8px 0;
    }
    .logos-marcas a img{
        width: 65%;
        height: 65%;
    }
    .marcas h2 {
        font-size: 1.1rem;
        padding-top: 10px;
    }
    .divisor {
        height: 11vh;
        margin: 2.8% 0;
    }
    .divisor-texto {
        font-size: 1rem;
    }
}
@media screen and (max-width:700px) {
    .logo h1 {
        font-size: 20px;
    }
    .li-lista-nav {
        width: auto;;
        margin: 0 10px;
    }
    .link-bigg {
        padding: 0;
    }
    .boton-galeria-img a {
        font-size: 1rem;
        height: 6vh;
    }
    .logos-marcas a img{
        width: 60%;
        height: 60%;
    }
    .marcas {
        height: 20vh;
    }
    .marcas h2 {
        font-size: 1rem;
        padding-top: 10px;
    }
    .divisor {
        height: 10vh;
        margin: 2.5% 0;
    }
}
@media screen and (max-width:650px) {
    .galeria-grid {
        display: inline-block;
    }
    .menu-nav .buscador {
        display: none;
    }
    .ul-lista-nav {
        width: 90%;
    }
    .boton-galeria-img a {
        top: 80%;
    }
    .marcas {
        height: 16vh;
    }
    .divisor {
        height: 9vh;
        margin: 2.3% 0;
    }
    .divisor-texto {
        font-size: 0.9rem;
    }

}
@media screen and (max-width:550px) {
    .logo h1 {
        font-size: 18px;
    }
    .li-lista-nav {
        width: auto;;
        margin: 0 5px;
    }
    .menu-nav .buscador {
        width: 90px;
    }
    .link-bigg {
        padding: 0;
    }
    .logos-marcas a img{
        width: 50%;
        height: 50%;
    }
    .marcas {
        height: 13vh;
    }
    .marcas h2 {
        font-size: 0.9rem;
        padding-top: 10px;
    }
    .boton-galeria-img a {
        font-size: 0.9rem;
        height: 4vh;
        top: 82%;
    }
    .divisor {
        height: 8vh;
        margin: 2% 0;
    }
    .divisor-texto {
        font-size: 0.7rem;
    }

}

/*--------html acceso registro----------*/
.grid-contenedor-acceso{
    width: 100%; /*ancho*/
    margin: 0 auto; /*el cero significa que no tiene margen de arriba y abajo, y el auto significa que al tener 80% de ancho me centra el contenido*/
    height: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 600px 150px;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
}
.main-acceso-registro {
    grid-area: main;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/_DSC1074.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.iniciar-sesion {
    display: flex;
    flex-direction: column;
    background-color: #959595e5;
    color: white;
    width: 60%;
    height: 50vh;
    border: solid 1px rgb(0, 0, 0);
    margin: 50px 0;
    justify-content: center;
}
.form-iniciar-secion {
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.link-interno-registro {
    text-align: center;
    margin: 1% 0;
}
.div-formulario-isecion {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 1% 0;
}
.color-texto-registro {
    color: black;
}
.boton-ingresar input:hover {
    background-color: green;
}
.registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #001421ed;
    color: white;
    width: 60%;
    height: 75vh;
    border: solid 1px rgb(0, 0, 0);
    margin-bottom: 50px;
}
.div-formulario-registro {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.form-titulo-registro {
    margin: 15px;
    text-align: center;
}
.formulario-registro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin-left: 7%;
}
.recuperar-contrasenia {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}
.boton-verde {
    margin-right: 5%;
    padding: 0.5% 1.5%;
}
.boton-verde:hover {
    background-color: green;
}
.boton-borrar {
    padding: 0.5% 1.5%;
}
.boton-borrar:hover {
    background-color: grey;
}
label {
    margin: 10px 10px 10px 0;
}

/*----------MAIN EVENTOS-----------*/
.main-eventos {
    height: auto;
    width: 100%;
    grid-area: main;
}
.form-contacto-eventos {
    margin: 3% 15% 0;
    background-color: #263138a3;
    padding: 2%;
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
}
/*-----------MAIN FUTBOL-----------*/
.main-futbol {
    grid-area: main;
}
.carrusel-futbol {
    height: 72vh;
    margin-bottom: 2%;
}
.reserva-online {
    width: 100%;
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "reserva reserva foto"
    "datos datos foto"
    ;
    justify-items: center;
    align-items: center;
}

.botones-horas {
    margin: 1.5%;
    width: 100%;
    display: flex;
    justify-content: center;
}
.boton-hora:active {
    background-color: rgb(0, 207, 0);
    color: white;
}
.boton-hora {
    width: 5vw;
    height: 5vh;
    margin: 0 1%;
    border-radius: 10px;
    border-color: white;
}
.elegi-turno-futbol {
    grid-area: reserva;
    background-color: #00314fc3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.foto-vertical-futbol {
    grid-area: foto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}
.imagen-futbol {
    width: 90%;
    height: 100%;
}
.formulario-reserva {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}
.datos-reserva-futbol {
    grid-area: datos;
    background-color: #00314fc3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-reserva {
    width: 100%;
    margin: 1%;
    display: flex;
    justify-content: flex-end;
}
.calendario-reserva-futbol {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.referencia {
    font-size: 0.9rem;
}
.referencia-dos {
    font-size: 0.8rem;
}
.form-reserva-uno {
    margin: 1%;
}